:root {
    font-family: Arial, sans-serif;
    background: rgb(250,250,250);
}


#gridcontainer
{
    width: 1700px;
    line-height: 0;
    clear: both;
}

.griditem
{
    display: inline-block;            
    width: 70px;
    height: 70px;
    margin-left: -4px;
    background: rgb(250,250,250);
}

.palette {

    display: inline-block;            
    margin-top: 10px;
    width: 70px;
    height: 70px;

}

#current-palette {

    width: 90px;
    height: 90px;
    float: right;
    margin: 10px 10px 10px;

}

#load {
}


#palettes {

float: left;

}
