:root {
    font-family: Arial, sans-serif;
    background: #333;
}


#gridcontainer
{
    width: 800px;
    line-height: 0;
    clear: both;
}

.griditem, .palette
{
    display: inline-block;            
    width: 70px;
    height: 70px;
    margin-left: 2px;
    margin-bottom: 6px;
    background: #AAA;
    border: 1px solid black;
}

.palette {

    border-radius: 50%;
    margin-left: 20px;
    margin-top: 30px;
    border: 2px solid black;

}

#current-palette {

    width: 90px;
    height: 90px;
    float: right;
    margin: 20px 60px 30px;
    border: 2px solid black;

}


#palettes {

float: left;

}
